*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
 footer {
    background-color: #6b6ca3;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    float: right;
  }
  
 
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  