* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
 
  
  
  form {
    margin: 50px auto;
    width: 400px;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }

  .btn {
    background-color:#756ca3;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
   